body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.first-container {
    background-color: #1F2937;
    padding: 15px 150px;
}

.first-header {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.la-union {
    color: rgb(56, 130, 246);
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color:rgb(56, 130, 246);
}

.first-content {
    display: flex; 
    padding: 50px 0; 
    justify-content: space-between;
    align-items: center;
}

.content-text {
    display: flex;
    flex-direction: column;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    width: 500px; 
}

.subtext {
    color: #E5E7EB;
    width: 600px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.4;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    text-align: center;
    margin-top: 3px;
}

.button:hover {
    background-color: #205fc5;
}

.header-photo {
    width: auto;
    height: 300px;
}

/* Second Section White Background */

.second-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;

}

.second-header {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.second-photo {
    width: 200px;
    height: auto;
    border: 3px solid #1F2937;
    border-radius: 8px;
}


.info-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    max-width: 200px;
    align-items: center;
}

.name {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: 600;
    padding-top: 3px;
    line-height: 1.4;
    font-size: 18px;
}

.second-subtext {
    display: flex;
    text-align: center;
    color: #1f2937;
    padding-top: 2px;
}

/* Third Section Gray Background */

.third-container {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
}

.third-content {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.name-quote {
    color: #1f2937;
    font-weight: 700;
    font-size: 20px;
    align-self: flex-end;
    padding-top: 20px;
}

/* Fourth Section White Box inside */

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.content-container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 30px 100px;
    align-items: center;
    border-radius: 8px;
}

.fourth-content {
    display: flex;
    flex-direction: column;
}

.fourth-header {
    font-weight: 600;
    font-size: 22px;
    color:#f9faf8;
}

.fourth-subtext {
    color: #E5E7EB;
    max-width: 650px;
    flex: 1;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100px;
    text-align: center;
}

.sign-up-button:hover {
    background-color: #205fc5;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: #E5E7EB;
    padding: 30px 0;
}

.footer .header-logo {
    padding-bottom: 7px;
    font-size: 27px;
}

.icons {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    color: #E5E7EB;
}

.github:hover {
    color: #a4a5a7;
}

.instagram:hover {
    color: #a4a5a7;
}

